*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
.App-header {
  background-color: #0e191d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}
.domineF{
  font-family: 'Domine', serif;

}
.kaushanF{
  font-family: 'Kaushan Script', cursive;
}
h5{
  font-size: 2em;
  color: #fffabd;
  padding: 0;
  margin: 0;
  margin: 20px;
}
span{
  color: white;
}
nav{
  position: fixed;
  background-color: #0e191d;
  width: 100%;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40%;
  padding: 0px 5%;
}
.href{
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1em;
}
button:hover{
  cursor: pointer;
}
.container-search{
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 5%;
  padding: 3%;
  background-image: url('../public/images/b1.png');
  background-position: center;
  height: 450px;
  width: 100%;
  outline: 1px solid red;
  position: fixed;
}
.search-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 25px;
  padding: 5px;
}
.search-bar input{
  width: 60em;
  padding: 10px;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
}
.search-bar i{
  font-size: 1.5em;
  padding: 5px 10px;
}
.searchBtn{
  background-color: transparent;
  border: none;
  color: white;
}
/*ALL Champs*/
.allChampions{
  display: flex;
  flex-wrap: wrap;
  padding: 2% 5%;
  gap: 17px;
  justify-content: center;
  margin-top: 40%;
  background-color: #0e191d;
  z-index: 20;
}
.champCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 150px;
  position: relative;
}
.pimg{
  object-fit: cover;
  z-index: 2;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.champCard:hover{
  cursor: pointer;
  /* transform: scale(1.1); */
}
.champCard:hover > .pimg{
  transform: scale(.001);
  /* width: 125px; */
} 
.champCard:hover > .backimg{
  width: 125px;/*
  height: 200px; */
  transform: scale(2.2);
  filter: blur(0px);
  opacity: 10;
  border: 2px solid #fffabd;
  box-shadow: 10px 14px 40px -20px rgba(166,234,255,.9);
}
.backimg{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 0px;
  height: auto;
  border-radius: 17px;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 1;
  opacity: 0;
  filter: blur(10px);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backimg p{
  text-align: center;
}
.backimg span{
  color: #ffee36;
}


/*BORDER ICON*/
.responseData{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.responseData span{
  color: #ffee36;
  font-size: 1.3em;
}

.container-BI{
  position: relative;
  margin-top: 4em;
  margin-bottom: 3.5em;
}

.borderIcon{
  position: absolute;
  background-image: url('../public/images/501.png');
  background-size: cover;
  width: 250px;
  height: 250px;
  bottom: -30px;
  transform: translateX(-46px);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.borderIcon img{
  z-index: 0;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}